<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
<script src="https://code.jQuery.com/jQuery-1.11.2.js"></script>
</head>
<body>
<h1>Control page</h1>
Message: {{ message }}<br>
Led status: {{ led_status }}<br>
Thermometer value: {{ thermometer_value }}<br>
Moisture value: {{ moisture_value }}<br>
<form action="/action/toggle_led">
<input type="submit" value="Toggle led">
</form>
Camera snapshot:<br>
<img src="/static/snapshot.jpg" alt="snapshot" height="200" width="200">
<form action="/">
<input type="submit" value="refresh">
</form>
</body>
</html>
